.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
    color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-decoration: none;
    letter-spacing: 5px;
    
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 45px;
    text-decoration: none;
    letter-spacing: 5px;
}

h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
}

h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
}

.friends{
  background-color: tomato;
  border: 1px solid white;

}

a {
  text-decoration: none;
}

input {
  height: 35px;
  width: 300px;
  margin-left: 30px;
  margin-top: 15px;
}

button {
  margin: 15px;
  height: 35px;
  width: 300px;
  margin-left: 30px;
  margin-top: 15px;
  color: white;
  background-color: tomato;
  border-radius: 10px;
}